PORT="3000"
HOSTNAME="localhost"

DATABASE_URL="mysql://<username>:<password>@localhost:3306/<database>"

BETTER_AUTH_SECRET="<secret-string>"
BETTER_AUTH_URL=http://localhost:3000 # Base URL of your app


ZOOM_CLIENT_ID="<client-id>"
ZOOM_CLIENT_SECRET="<secret-string>"

TELEGRAM_BOT_TOKEN="<bot-token>"
